# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
 #### OBJECTIVES
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JAVA

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3.Pandas

Data Science Tools

| No. | Tools |
| ---- | ---- |
| 1 | Apache Spark |
| 2 | Jupyter Notebook |
| 3 | Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [8]:
 200  // 60

3

## Author
Yashika Tyagi