In [2]:
import piplite
await piplite.install(['seaborn', 'lxml', 'openpyxl'])

import pandas as pd

In [5]:
from pyodide.http import pyfetch

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename,"addresses.csv")

df = pd.read_csv("addresses.csv",header = None)
df

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [6]:
df.columns = ['First Name', 'Last Name', 'Location ', 'City','State','Area Code']
df

,First Name,Last Name,Location,City,State,Area Code
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [8]:
df["First Name"]

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: First Name, dtype: object

In [9]:
df.loc[0]

First Name                 John
Last Name                   Doe
Location      120 jefferson st.
City                  Riverside
State                        NJ
Area Code                  8075
Name: 0, dtype: object

In [10]:
df.loc[[1,2,3],"First Name"]

1             Jack
2    John "Da Man"
3          Stephen
Name: First Name, dtype: object

In [11]:
df.iloc[[1,2,3],0]

1             Jack
2    John "Da Man"
3          Stephen
Name: First Name, dtype: object

In [12]:
import pandas as pd
import numpy as np

In [19]:
df= pd.DataFrame(np.array([[1,2,3],[5,6,7],[8,9,0]]),columns = ['a','b','c'])
df

   a  b  c
0  1  2  3
1  5  6  7
2  8  9  0

In [21]:
df = df.transform(func = lambda x : x + 10)
df

    a   b   c
0  11  12  13
1  15  16  17
2  18  19  10

In [23]:
result = df.transform(func = ["sqrt"])
result

          a         b         c
       sqrt      sqrt      sqrt
0  3.316625  3.464102  3.605551
1  3.872983  4.000000  4.123106
2  4.242641  4.358899  3.162278

In [24]:
import json

In [25]:
person = {
    'first_name' : 'Mark',
    'last_name' : 'abc',
    'age' : 27,
    'address': {
        "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
    }
}

In [ ]:
with open('person.json' , 'w') as f:
    r=json.dump(person,f)
    f.write('r')

print(r)

json_object = json.dumps(person, indent = 4)
with open('sample.json','w') as outfile:
    outfile.write(json_onject)
print(json_object)

In [ ]:
import json
person = {
    'first_name' : 'Mark',
    'last_name' : 'abc',
    'age' : 27,
    'address': {
        "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
    }
}
with open('sample.json','r') as openfile:
    json_object = json.load(openfile)

print(json_object)
print(type(json_object))

In [ ]:
import pandas as pd
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/file_example_XLSX_10.xlsx"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "file_example_XLSX_10.xlsx")

df = pd.read_excel("file_example_XLSX_10.xlsx")
df = pd.DataFrame("file_example_XLSX_10.xlsx")

In [ ]:
import xml.etree.ElementTree as ET
employee = ET.Element('employee')
details = ET.SubElement(employee, 'details')
first = ET.SubElement(details, 'firstname')
second = ET.SubElement(details, 'lastname')
third = ET.SubElement(details, 'age')
first.text = 'Shiv'
second.text = 'Mishra'
third.text = '23'

mydata1 = ET.ElementTree(employee)
with open("new_sample.xml", "wb") as files:
    mydata1.write(files)

df = pd.Data

In [ ]:
tree = etree.parse("Sample-employee-XML-file.xml")

root = tree.getroot()
columns = ["firstname", "lastname", "title", "division", "building","room"]

datatframe = pd.DataFrame(columns = columns)

for node in root: 

    firstname = node.find("firstname").text

    lastname = node.find("lastname").text 

    title = node.find("title").text 
    
    division = node.find("division").text 
    
    building = node.find("building").text
    
    room = node.find("room").text
    
    datatframe = pd.concat([datatframe, pd.Series([firstname, lastname, title, division, building, room], index = columns)], ignore_index = True)

In [ ]:
datatframe

In [ ]:
df=pd.read_xml("Sample-employee-XML-file.xml", xpath="/employees/details")

In [ ]:
datatframe.to_csv("employee.csv", index=False)

In [ ]:
pd.read_csv(employee.csv)

In [2]:
from PIL import Image 

# Uncomment if running locally
# import urllib.request
# urllib.request.urlretrieve("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg", "dog.jpg")

filename = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "./dog.jpg")
img = Image.open('./dog.jpg','r') 
  
# Output Images 
img.show()

<class 'NameError'>: name 'pyfetch' is not defined

In [3]:
img = image.open('./dog.jpg','r') 
  
# Output Images 
img.show()

<class 'NameError'>: name 'image' is not defined

In [5]:
import pandas as pd
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/diabetes.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "diabetes.csv")

df = pd.read_csv("diabetes.csv")

<class 'NameError'>: name 'pyfetch' is not defined

In [7]:
import matplotlib.pyplot as plt
import Seaborn as sns

<class 'ModuleNotFoundError'>: No module named 'Seaborn'